<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>mPurpose - Multipurpose Feature Rich Bootstrap Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/static/css/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="/static/css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="/static/css/main.css">

        <script src="/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<style>
	    .icon-success {
	    color: red;
	    }
	</style>
	
	
	<!-- download a pdf-->
	<script>
	    $(function() {
	    $("button#submit").click(function(){
	    window.location = "introduction_to_IoT_november.pdf";
	    });
	    });
	</script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
	        	<div class="menuextras">
					<div class="extras">
						<ul>
			        		<li><a href="/login">Login</a></li>
			        	</ul>
					</div>
		        </div>
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="/index"><img src="/static/img/Logo.JPG" alt="Team logo"></a></li>
						<li class="active">
							<a href="/index">Home</a>
						</li>
						<li class="has-submenu">
							<a href="#">Products</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner"> 
									<div>
										<h4>Our Work</h4>
										<ul>
											<li><a href="">Mobile</a></li>
											<li><a href="/bigdata">Big Data</a></li>
											<li><a href="/pageIoT">Internet of Things</a></li>
											<li><a href="">Video</a></li>
										</ul>
									</div>
								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
						<li class="has-submenu">
							<a href="#">About Us</a>
							<div class="mainmenu-submenu" align="center">
								<div class="mainmenu-submenu-inner"> 
									<div>
										<h4>About Us</h4>
										<ul>
											<li><a href="/management">Management</a></li>
											<li><a href="">Code of Conduct</a></li>
											<li><a href="">Business Process</a></li>
											<li><a href="/pageLocations">Locations</a></li>
											<li><a href="">Contacts</a></li>
										</ul>
									</div>
								</div>
							</div>	
						</li>
					</ul>
				</nav>
			</div>
		</div>
	
		
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Internet of Things</h1>
					</div>
				</div>
			</div>
		</div>
        
     <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Sidebar -->
					<div class="col-md-2 blog-sidebar">
						<br><br>
						 <p> <a href="#" class="btn btn-info btn-md" style="width: 62%">Broucher</a></p>
						<p><a href="#" class="btn btn-md btn-success" data-toggle="modal" data-target="#basicModal">White Paper</a></p>
						</div>
					<!-- End Sidebar -->
					<div class="col-md-10">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h3>SpartenWare simplifies Internet Of Things Solution</h3>
								<br>
						    
							    <article>
								<!--costumer accolades-->
							    <aside><div class="well well-sm" style="width:35%; float: right">
							    <i class="glyphicon glyphicon-star icon-success"></i><i class="glyphicon glyphicon-star icon-success"></i><i class="glyphicon glyphicon-star icon-success"></i><i class="glyphicon glyphicon-star icon-success"></i><i class="glyphicon glyphicon-star icon-success"></i>
							    &quot;Our clients appliances are connected to the Internet with smart modules,
							    allowing users to control home electronics from anywhere. &quot; -Cindy Barnes,Sales Director, FxAll
							    </div></aside>		
							    <p>
							    In this connected world, the proliferation of intelligent devices has created a market for entirely new solutions based on Internet of Things (IoT) technology. With the ever-increasing amount of data that is inherent in an IoT world,
							    the key to gaining real business value is effective communication among all elements of the architecture.
							    </p>
							    <p>
							    Only Spartenware&#39;s Internet of Things platform delivers an integrated,
							    secure, comprehensive platform for the entire IoT architecture across all
							    vertical markets.
							    </p>
							    <br>
							    <!--customer accolades-->
							    <aside><div class="well well-sm" style="width:35%; float: right">
							    <i class="glyphicon glyphicon-star icon-success"></i><i class="glyphicon glyphicon-star icon-success"></i><i class="glyphicon glyphicon-star icon-success"></i><i class="glyphicon glyphicon-star icon-success"></i><i class="glyphicon glyphicon-star icon-success"></i>
							    &quot;With IoT, you can really look at how the customer looks at an experience: from when I&#39;m walking through
							    a store, buying a product, and using it&quot; -Albert Shum, Director of Engineering KZing
							    </div></aside>		
							    <p>
							    With Spartenware, your organization&#39;s IoT initiatives gain:</p>
							    <ol class="no-list-style">
								<li>Real-time response capabilities for millions of device endpoints.</li>
								<li>Faster time to market.</li>
								<li>End-to-end security.</li>
								<li>Integration with IT systems.</li>
								<li>A worldwide, coordinated ecosystem of partners.</li>
							    </ol></p>
							    <br><br><br>
							</article>
								
								
							<h4><p class="text-center">Our Offer pricing</p></h4>
							
								<!-- display sensor data-->	
							     <div class="row">
								 <div class="col-md-3" ></div>
								 <div class="col-md-3">
								       <div class="well well-sm" style="background-color:#DA756C;color: white">
									   <p>Number of Sensors:30</p>
						    			  <p>Data Streams: 30 kb/sec</p>
									      <p>Price: $30 /month</p>
									</div>
								</div>
								 <div class="col-md-3">
								 <div class="well well-sm" style="background-color:#DA756C;color: white">
								      <p>Number of Sensors:40</p>
								     <p>Data Streams: 50 kb/sec</p>
								    <p>Price: $40 /month</p>
								</div>
								</div>
								<div class="col-md-3" ></div>
							     </div>

							</div>
							
							<div class="post-coments">

							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>

	  <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-3 col-xs-6">
		    		<h3>Products</h3>
		    			<ul class="no-list-style footer-navigate-section">
							<li><a href="">Mobile</a></li>
							<li><a href="/bigdata">Big Data</a></li>
							<li><a href="/pageIoT">Internet of Things</a></li>
							<li><a href="">Video</a></li>
		    			</ul>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>About Us</h3>
		    			<ul class="no-list-style footer-navigate-section">
							<li><a href="/management">Management</a></li>
							<li><a href="">Code of Conduct</a></li>
							<li><a href="">Business Process</a></li>
							<li><a href="/pageLocations">Locations</a></li>
							<li><a href="">Contacts</a></li>
		    			</ul>
		    		</div>
					<div class="col-footer col-md-4 col-xs-6">
						<h3>Contacts</h3>
						<p class="contact-us-details"> <b>Address:</b>
						100, Washington Square, San Jose<br>
						<b>Phone:</b>408-123-123<br>
						<b>Email:</b> <a
						href="mailto:spartanware@spartanware.com">spartanware@spartanware.com</a>
						</p>
					</div>
					<div class="col-footer col-md-2 col-xs-6">
						<h3>Stay Connected</h3>
						<ul class="footer-stay-connected no-list-style">
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="googleplus"></a></li>
						</ul>
					</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; Copyright 2014</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

	    
<!--modal window-->
	    
<div class="container">
 <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><p class="text-center">Download White Paper</p></h4>
            </div>
            <div class="modal-body">
                
                
               <form class="form-horizontal" method='POST' action='' id="regform"></form> {% csrf_token %}
                    {{ form.as_p }}
                <div class="form-group">
                  <label for="firstName" class="control-label col-xs-4">First Name:</label>
		    <div class="col-xs-6 ">
			<input type="text" class="form-control" id="firstName" placeholder="">
		    </div>
                </div>
                <div class="form-group">
		    <label for="lastName" class="control-label col-xs-4">Last Name:</label>
		    <div class="col-xs-6">
			<input type="text" class="form-control" id="lastName" placeholder="">
		    </div>
                </div>
                    <div class="form-group">
                     <label for="inputEmail" class="control-label col-xs-4">Email:</label>
		    <div class="col-xs-6">
			<input type="email" class="form-control" id="inputEmail" placeholder=>
                    </div>
                 </div>
               </form>
                
		<div class="modal-footer">
		    <button class="btn btn-primary" id="submit">Download</button>
		    <a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	    </div>
        </div>
    </div>    
 </div>    
</div>    
	    
	    

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="/static/js/jquery.fitvids.js"></script>
        <script src="/static/js/jquery.sequence-min.js"></script>
        <script src="/static/js/jquery.bxslider.js"></script>
        <script src="/static/js/main-menu.js"></script>
        <script src="/static/js/template.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    </body>
</html>